/* Setting the common attributes colors */
:root {
    --dark-mode-background: #1b1b1b;
    --light-mode-background: #9acdd1;
    --cirle-light-color: #f8b781;
    --cicle-dark-color: #830349;
    --text-dark-color: #000;
    --text-light-color: #fff;
    --font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* Reset Css Code in the web browser */
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    line-height: 1;
    font-family: sans-serif;
}

​h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

​input,
select,
option,
optgroup,
textarea,
button,
pre,
code {
    font-size: 100%;
    font-family: inherit;
}

​ol,
ul {
    list-style: none;
}

/* Sets the body background color and display */
body {
    background-color: var(--light-mode-background)
}

/* when toggled changes the background color */
.bodytoggle.active {
    background: var(--dark-mode-background);
}

.bodytoggle.active article{
    background: var(--dark-mode-background);
   color: var(--text-light-color);
   border: 2px var(--light-mode-background) solid;
}

.bodytoggle.active .enteredtitle{
    border-color: var(--light-mode-background);
}


/* when toggled changes the background color */
.toggleback.active {
    background: var(--dark-mode-background);
    /* Sets the paramiters of the dark-mode - light mode button */
}

.toggle{
    border-bottom: solid;
    border-bottom: double;
    border-color: var(--dark-mode-background);
    border-width: 10px;
    padding: 5px;
}

.toggle.active {
    background: var(--dark-mode-background);
}

header {
    /*sets properties for the header such as background color and text color*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 20px;
    font-family: var(--font-family);
    background-color: var(--light-mode-background);
    color: var(--text-light-color);
}

.end-btn {
    margin-top: 2vw;
    background-color: #DAA521;
    border: none;
    width: 15vw;
    height: 3vw;
    font-size: 1.5vw;
    color: #FFFFFF;
    border-radius: 0.5vw;
    font-weight: bold;
    cursor: pointer;
}

#backbtn {
    margin-right: 20px;
    background-color: var(--dark-mode-background);
    border: none;
    width: 5vw;
    height: 2vw;
    font-size: 1vw;
    color: var(--text-light-color);
    border-radius: 0.5vw;
    font-weight: bold;
    cursor: pointer;
}

.bodytoggle.active #backbtn{
    background-color: var(--light-mode-background);
}

.divbtn {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 5px;
}



#togglemode {
    position: relative;
    display: block;
    width: 80px;
    height: 40px;
    border-radius: 40px;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: inset 0px 8px 80px rgba(0, 0, 0, 0.5),
        inset 0px 8px 8px rgba(0, 0, 0, 0.5),
        inset 0px -4px 4px rgba(0, 0, 0, 0.5);
}

#togglemode .indicator {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: scale(0.9);
    box-shadow: inset 0px 8px 40px rgba(0, 0, 0, 0.10),
        inset 0px 4px 4px rgba(255, 255, 255, 0.3),
        inset 0px -4px 4px rgba(255, 255, 255, 0.3);
}

#togglemode.active .indicator {
    Left: 40px;
    background: var(--dark-mode-background);
    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.5),
        inset 0px 4px 4px rgba(255, 255, 255, 0.2),
        inset 0px -4px 4px rgba(255, 255, 255, 0.2);

}


/* .footer {
    width: 100%;
    text-align: start;
    bottom: 0;

} */

.enteredusername {
    margin-top: 10px;
    
}

.enteredtitle {
    font-weight: bold;
   border-bottom: solid;
    margin: 5px;
  
}


.blogentry {
    font-style: italic;
    margin: 10px;
    
}


article {
    display: block;
    border-style: solid;
    border-radius: 10px;
    border: 2px var(--dark-mode-background) solid;
    margin: 20px; 
    padding: 10px;
    color: var(--text-dark-color);
    
}

.footerdiv{
    text-align: center;
}

.links{
    text-align: left;
}

.links p{
    margin: 2px;
    color: var(--text-dark-color);
}

.links a{
    text-decoration: none;
}

