/* Setting the common attributes colors */
:root {
    --dark-mode-background: #1b1b1b;
    --light-mode-background: #9acdd1;
    --text-dark-color: #000;
    --text-light-color: #fff;
    --alert-light-color: #be0404;
    --alert-dark-color: #f7b604;
}


/* Setting the attributes for the form content */
.divform{
    display: flex;
    float: right;
    width: 100vh;
    height: 100vh;
    border-top: solid;
    border-left: solid;
    border-color: var(--dark-mode-background);
    margin-top: 20px;
    padding-left: 20px;
    color: var(--text-dark-color);
    text-align: start;
    justify-content: center;
    align-items: center;
}

.divform.active {

  border-color: var(--light-mode-background);

}

.formsection{
    display: flex;
    width: 45%;
    height: 100vh;
}

form {
    display: flex;
    width: 100%;
    flex-flow: column wrap;
    position: relative;
    color: var(--text-dark-color);
    justify-content: center;
    align-items: center;
    font-weight: bold;
}



/* Setting the text color for the light mode when active */
.form.active{
color: var(--text-light-color);
background: var(--dark-mode-background);
}

.error {
    color: red;
}

.divusername{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
}

#username{
    width: 100%;
    padding: 5px;
}

#user-name{
    width: 100%;
    padding: 5px;
}

#title{
    width: 100%;
    padding: 5px;
}

#title-name{
    width: 100%;
    padding: 5px;
}

#content{
    width: 100%;
    padding: 5px;
}

#userblog{
    width: 100%;
    padding: 5px;
}
.btnclass{
    width: 20%;
    height: 30px;
    background: var(--dark-mode-background);
    color: var(--text-light-color);
    font-weight: bold;
    font-size: 15px;
}
.btnclass.active{
    background: var(--light-mode-background);
    color: var(--text-dark-color);
    font-weight: bold;
    font-size: 15px;
}