/* Setting the common attributes colors */
:root {
    --dark-made-background: #1b1b1b;
    --light-mode-background: #9acdd1;
    --text-dark-color: #000;
    --text-light-color: #fff;

}


/* Setting the attributes for the form content */
.divform{
    display: flex;
    float: right;
    width: 100vh;
    height: 100vh;
    border-top: solid;
    border-left: solid;
    margin-top: 20px;
    padding-left: 20px;
    color: var(--text-dark-color);
    text-align: start;
    justify-content: center;
    align-items: center;
}

.formsection{
    display: flex;

}

/* Setting the text color for the light mode when active */
.form.active{
color: var(--text-dark-color)
}

.divusername{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
}


form {
    display: flex;
    flex-flow: column wrap;
    position: relative;
}
#user-name{
    width: 100vh;
}
#btn{
    width: 20%;
    height: 30px;
    background-color: var(--dark-made-background);
    color: var(--text-light-color);
}