/* Setting the common attributes colors */
:root {
    --dark-made-background: #1b1b1b;
    --light-mode-background: #9acdd1;
    --cirle-light-color: #f8b781;
    --cicle-dark-color: #830349;
    --text-dark-color: #000;
    --text-light-color: #fff;
    --font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* Reset Css Code in the web browser */
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    line-height: 1;
    font-family: sans-serif;
}

​h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

​input,
select,
option,
optgroup,
textarea,
button,
pre,
code {
    font-size: 100%;
    font-family: inherit;
}

​ol,
ul {
    list-style: none;
}
/* Sets the body background color and display */
body{
    background-color: var(--light-mode-background)
}
/* when toggled changes the background color */
.bodytoggle.active{
    background: var(--dark-made-background);
}
/* when toggled changes the background color */
.toggleback.active{
    background: var(--dark-made-background);
/* Sets the paramiters of the dark-mode - light mode button */
}

.header {
    /*sets properties for the header such as background color and text color*/
    padding: 20px;
    font-family: var(--font-family);
    background-color: var(--light-mode-background);
    color: var(--text-dark-color);
}
#togglemode{
    position: relative;
    display: block;
    width: 80px;
    height: 40px;
    border-radius: 40px;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: inset 0px 8px 80px rgba(0,0,0,0.5),
                inset 0px 8px 8px rgba(0,0,0,0.5),
                inset 0px -4px 4px rgba(0,0,0,0.5);
}
 
#togglemode .indicator
{
    position: absolute;
    top: 0;
    bottom:0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: scale(0.9);
    box-shadow: inset 0px 8px 40px rgba(0,0,0,0.10),
                inset 0px 4px 4px rgba(255,255,255,0.3),
                inset 0px -4px 4px rgba(255,255,255,0.3);
}
#togglemode.active .indicator{
    Left: 40px;
    background: var(--dark-made-background);
    box-shadow: 0px 8px 40px rgba(0,0,0,0.5), 
                inset 0px 4px 4px rgba(255,255,255,0.2), 
                inset 0px -4px 4px rgba(255,255,255,0.2);  

} 

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 500px;
    height: 500px;
    border-top: solid;
    border-right: solid;
    margin-top: 20px;
    margin-right: 20px;
    
}

.circle{
    display: flex;
    width: 250px;
    height: 250px;
    border-radius: 5000px;
    background: var(--cirle-light-color);
    align-items: center;
    justify-content: center;
    border: solid;
}

.toggleback{
    display: flex;
    justify-content: end;
}

.footer{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
}